<!DOCTYPE html>
<html lang="pt">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>SEL0630</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <script src="../static/js/updater.js"></script>
</head>
<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Projeto SEL0630 - Interpretador Libras</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      
      <table class="table table-center">
        <tbody>
          <tr>
            <th><h1 class="header center orange-text">Android</h1></th>
            <!--<th>Eclair</th> -->       
          </tr>
          <tr>
            <td align="center"><img class="responsive-img" src="static/img0.jpg" id="image" height="500" width="500"></td>
           <!-- <td>Jellybean</td> -->           
          </tr>         
        </tbody>
      </table>
      
      <form action="/" method="post">
         <div class="row center">
             <h5 class="header col s12 light">Que número é esse?</h5>
         </div>
         
			<p><input type="number" name="numero" placeholder="Ex: 5"/></p>
			<p style="text-align: center;"><input type="submit" value="treinar" class="btn-large waves-effect waves-light orange"/></p>
               
         
			
			
		
      <br><br>

    </div>
  </div>  

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Feito por:</h5>
          <p class="grey-text text-lighten-4">Kollins Gabriel Lima</p>
          <p class="grey-text text-lighten-4">Lais Paiva</p>
          
          <h5 class="white-text">Orientado por:</h5>
          <p class="grey-text text-lighten-4">Prof. Dr. Evandro Luis Linhari Rodrigues</p>
          <h5 class="white-text">Monitor:</h5>
          <p class="grey-text text-lighten-4">Tiago Martins</p>
        </div>        
      </div>
    </div>    
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

  </body>
</html>
